services:
  auth-db:
    image: postgres:15
    env_file:
      - ./src/env/authDb.env
    networks:
      - auth-net
    volumes:
      - auth_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  auth-api:
    build:
      context: https://github.com/Lucas-Eduardo-Goncalves/arkyn-auth.git#main
    depends_on:
      - auth-db
    env_file:
      - ./src/env/auth.env
    networks:
      - auth-net
    restart: unless-stopped
  auth-balancer:
    image: nginx:stable
    depends_on:
      - auth-api
    networks:
      - auth-net
    ports:
      - "8080:80"
    volumes:
      - ./src/nginx/auth.balancer.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
  ingest-api:
    build:
      context: https://github.com/Lucas-Eduardo-Goncalves/arkyn-ingest.git#main
    depends_on:
      - queue
    env_file:
      - ./src/env/ingest.env
    networks:
      - ingest-net
      - queue-net
    restart: unless-stopped
  ingest-balancer:
    image: nginx:stable
    depends_on:
      - ingest-api
    networks:
      - ingest-net
    ports:
      - "8081:80"
    volumes:
      - ./src/nginx/ingest.balancer.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
  queue:
    image: apache/kafka:latest
    env_file:
      - ./src/env/queue.env
    networks:
      - queue-net
    ports:
      - "9092:9092"
    restart: unless-stopped
  queue-ui:
    image: provectuslabs/kafka-ui:latest
    depends_on:
      - queue
    env_file:
      - ./src/env/queueUi.env
    networks:
      - queue-net
    ports:
      - 5174:8080
    restart: unless-stopped
  worker-api:
    build:
      context: https://github.com/Lucas-Eduardo-Goncalves/arkyn-worker.git#main
    depends_on:
      - queue
      - store-balancer
    env_file:
      - ./src/env/worker.env
    networks:
      - queue-net
      - store-net
    restart: unless-stopped
  store-db:
    image: postgres:15
    env_file:
      - ./src/env/storeDb.env
    networks:
      - store-net
    volumes:
      - store_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  store-api:
    build:
      context: https://github.com/Lucas-Eduardo-Goncalves/arkyn-store.git#main
    env_file:
      - ./src/env/store.env
    depends_on:
      - store-db
      - auth-balancer
    networks:
      - store-net
      - auth-net
    restart: unless-stopped
  store-balancer:
    image: nginx:stable
    depends_on:
      - store-api
    networks:
      - store-net
    ports:
      - "8082:80"
    volumes:
      - ./src/nginx/store.balancer.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
  panel:
    build:
      context: https://github.com/Lucas-Eduardo-Goncalves/arkyn-panel.git#main
    depends_on:
      - auth-balancer
      - store-balancer
    env_file:
      - ./src/env/panel.env
    networks:
      - auth-net
      - store-net
    ports:
      - "5173:3000"
    restart: unless-stopped
  # cleanup:
  #   build:
  #     context: https://github.com/Lucas-Eduardo-Goncalves/arkyn-cleanup.git#main
  #   depends_on:
  #     - queue
  #     - store-balancer
  #   env_file:
  #     - ./src/env/cleanup.env
  #   networks:
  #     - queue-net
  #     - store-net
  #   restart: unless-stopped
networks:
  auth-net:
    driver: bridge
  ingest-net:
    driver: bridge
  queue-net:
    driver: bridge
  store-net:
    driver: bridge
volumes:
  auth_postgres_data:
  store_postgres_data:
