services:
  auth-api:
    build:
      context: https://github.com/Lucas-Eduardo-Goncalves/arkyn-auth.git#main
    networks:
      - auth-net
    env_file:
      - ./src/env/auth.env
  auth-balancer:
    image: nginx:stable
    depends_on:
      - auth-api
    volumes:
      - ./src/nginx/auth.balancer.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "8080:80"
    networks:
      - auth-net
  ingest-api:
    build:
      context: https://github.com/Lucas-Eduardo-Goncalves/arkyn-ingest.git#main
    networks:
      - ingest-net
      - auth-net
    env_file:
      - ./src/env/ingest.env
    depends_on:
      - auth-balancer
  ingest-balancer:
    image: nginx:stable
    depends_on:
      - ingest-api
    volumes:
      - ./src/nginx/ingest.balancer.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "8081:80"
    networks:
      - ingest-net
networks:
  auth-net:
    driver: bridge
  ingest-net:
    driver: bridge
