services:
  # Authentication service instances
  auth-api-1:
    container_name: auth-api-1
    hostname: auth-api-1
    build:
      context: https://github.com/Lucas-Eduardo-Goncalves/arkyn-auth.git#main
      dockerfile: Dockerfile
    networks:
      - auth-net
    env_file:
      - ./env/auth-api.env
  auth-api-2:
    container_name: auth-api-2
    hostname: auth-api-2
    build:
      context: https://github.com/Lucas-Eduardo-Goncalves/arkyn-auth.git#main
      dockerfile: Dockerfile
    networks:
      - auth-net
    env_file:
      - ./env/auth-api.env
  auth-balancer:
    container_name: auth-balancer
    hostname: auth-balancer
    image: nginx:stable
    depends_on:
      - auth-api-1
      - auth-api-2
    volumes:
      - ./nginx/auth.balancer.conf:/etc/nginx/conf.d/default.conf:ro
    expose:
      - "8080"
    ports:
      - "8080:80"
    networks:
      - auth-net

networks:
  auth-net:
    driver: bridge
