services:
  auth-api:
    build:
      context: https://github.com/Lucas-Eduardo-Goncalves/arkyn-auth.git#main
      dockerfile: Dockerfile
    networks:
      - auth-net
    env_file:
      - ./env/auth-api.env
  auth-balancer:
    image: nginx:stable
    depends_on:
      - auth-api
    volumes:
      - ./nginx/auth.balancer.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "8080:80"
    networks:
      - auth-net
      - shared-net
  ingest-api:
    build:
      context: https://github.com/Lucas-Eduardo-Goncalves/arkyn-ingest.git#main
      dockerfile: Dockerfile
    networks:
      - ingest-net
      - shared-net
    env_file:
      - ./env/ingest-api.env
    depends_on:
      - auth-balancer
  ingest-balancer:
    image: nginx:stable
    depends_on:
      - ingest-api
    volumes:
      - ./nginx/ingest.balancer.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "8081:80"
    networks:
      - ingest-net
networks:
  auth-net:
    driver: bridge
  ingest-net:
    driver: bridge
  shared-net:
    driver: bridge
