# Environment variables for the application
JWT_KEY=""

# Database configurations
DATABASE_URL=""
DIRECT_URL=""

# Redis configurations
REDIS_HOST=""
REDIS_PORT=""
REDIS_PASSWORD=""

# Port configuration
PORT=""