# Environment variables for the application
JWT_KEY=""

# MICRO SERVICES
MICRO_AUTH_URL=""
MICRO_QUEUE_IP=""
KAFKAJS_NO_PARTITIONER_WARNING=1

# Redis configurations
REDIS_HOST=""
REDIS_PASSWORD=""
REDIS_PORT=""

# Port configuration
PORT=""
