# Kafka Node Configuration
KAFKA_PROCESS_ROLES=""
KAFKA_NODE_ID=""
KAFKA_CONTROLLER_QUORUM_VOTERS=""

# Listener Configuration
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=""
KAFKA_LISTENERS=""
KAFKA_ADVERTISED_LISTENERS=""
KAFKA_INTER_BROKER_LISTENER_NAME=""
KAFKA_CONTROLLER_LISTENER_NAMES=""

# Replication and Transaction Configuration
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=""
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=""
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=""

# Performance Configuration
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=""