DYNAMIC_CONFIG_ENABLED=""
KAFKA_CLUSTERS_0_NAME=""
KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=""

# Enable Authentication
KAFKA_UI_AUTH_ENABLED=""
KAFKA_UI_AUTH_TYPE=""
KAFKA_UI_AUTH_USERNAME=""
KAFKA_UI_AUTH_PASSWORD=""